@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Reggae+One&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: #414141;
  color: #fafafa;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 2.5em 0;
}

.intro_header {
  font-family: "Reggae One", cursive;
  font-size: 3rem;
}

.salutation {
  font-size: 16px;
  padding: 1em 0;
}
